* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper1 {
    width: 1536px;
    height: 695px;
    background: url('D:\Study\front end\react\react1\SalonX\reactprojectapp\src\Components\Assets\Rectangle 34624655.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 28% 100%;
   
}

.form-box-forgotpassword {
    width: 900px;
    height: 500px;

    margin-left: 500px;
}

.form-box-forgotpassword img {
    margin-left: 470px;
    margin-top: 80px;
}

.form-box-forgotpassword h2 {
    padding-top: 10px;
    margin-left: 340px;
}

.input-box-reset {

    position: relative;
    width: 471px;
    height: 50px;
    border-radius: 13px;
}

.input-box-reset input{
    width: 330px;
    height: 5px;
    background: transparent;
    border: 1px solid;
    margin-left: 360px;
    font-size: 12.5px;
    padding: 20px 45px 20px 20px;
    
}

.form-box-forgotpassword button{
    width: 332px;
    height: 40px;
    margin-left: 360px;
}